<label for="">{{label}}</label>
<select class="form-control">
  {{#each libraries as |item| }}
    <option selected={{item.isSelected}} value={{item.library.id}}>{{item.library.name}}</option>
  {{/each}}
</select>
