<<<<<<< 389e8056e86b2bb3ca408a98fbbb477a30a04744
<h1>test</h1>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>
      Book
    </th>
    <th class="vtop">Author</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |book|}}
    <tr>
      <td>
        {{ book.title }}
      </td>
      <td>
        {{book.author.name }}
      </td>
      <td class="text-center">
        <button class="btn btn-success" {{action 'deleteBook' book}}>Delete</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
=======
{{#link-to 'books.new' }}<a href="">New</a>{{/link-to}}
<h1>Books</h1>
>>>>>>> add books save
