<h1>Contact</h1>
<br/>
{{input type=email class="form-control" placeholder="Enter Email" value=emailAddress}}
<br/>
{{textarea class="form-control" placeholder="Your message. (At least 5 characters.)" rows="7" value=emailText}}
<br/>
<button class="btn btn-primary" disabled={{isDisabled}}>Send Message</button>